<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396986104003-crm55ol5f4guto7boqd5c87kckolcis2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396986104003-crm55ol5f4guto7boqd5c87kckolcis2</string>
	<key>API_KEY</key>
	<string>AIzaSyAWKijtJPp6wIQwwgoR6UOu5BL4GooLaEc</string>
	<key>GCM_SENDER_ID</key>
	<string>396986104003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studtime</string>
	<key>PROJECT_ID</key>
	<string>studtime-e721c</string>
	<key>STORAGE_BUCKET</key>
	<string>studtime-e721c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396986104003:ios:6f37579246f4e311918a76</string>
</dict>
</plist>